body {
  align-items: flex-start;
  flex-direction: row;
}

.filter {
  border-top-right-radius: 40px;
  border-right: 4px solid #B4D91A;
  position: fixed;
  bottom: 0;
  height: 87%;
  width: 24%;
  padding-top: 17px;
  padding-left: 3.5%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.filter_title {
  color: #B4D91A;
  font-family: Bold;
  font-size: 44px;
  line-height: 45px;
}
.filter_item {
  color: #B4D91A;
  font-family: Bold;
  font-size: 44px;
  line-height: 45px;
}
.filter_item {
  gap: 0.8vw;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.filter_item h2 {
  color: #B4D91A;
  font-family: Bold;
  font-size: 30px;
  line-height: 30px;
  width: 80%;
}

.checkboxFilter {
  width: 28px;
  height: 28px;
}

.itemListWindow {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 89%;
  width: 76%;
  overflow-y: auto;
  padding: 2% 3%;
}

.tableBody {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.tableBody td {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 4%;
}
.tableBody img {
  width: 100%;
  transition: all 0.3s ease;
}
.tableBody div {
  padding: 0 5%;
  padding-top: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableBody h2 {
  color: #B0B0B0;
  text-align: start;
  font-family: Bold;
  font-size: 1.6rem;
}
.tableBody p {
  color: #B4D91A;
  text-align: center;
  font-family: Bold;
  font-size: 1.6rem;
}

.fav-but {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.fav-but_img {
  width: 4vw;
}
.fav-but_img:hover {
  content: url("sitepic/catalog/favAct.png");
}

.buyBut {
  background-color: rgba(0, 0, 0, 0);
  padding: 1% 10%;
  border-radius: 5px;
  border: 3px solid #B4D91A;
  color: #B0B0B0;
  text-align: center;
  font-family: Bold;
  font-size: 20px;
  transition: all 0.3s ease;
}
.buyBut:hover {
  background-color: rgba(176, 176, 176, 0.3490196078);
}